 .c-Header {
     width: 575px;
}
.c-Repeater.commands.links {
    display: none;
}
#Menu-14_0 {
    display: none !important;
}
#Menu-14_1 {
    display: none !important;
}
#Menu-14_2 {
    display: none !important;
}
.responsive .c-Header .c-NavItem {
    display: inline-block !important;
}
.c_hicons.links {
    display: inline-block !important;
}
div#sidebar {
    width: 575px;
    left: 0px;
}
#rec_conv {
    display: block;
}
#uxp_ftr_left {
    display: none;
}
span#sidebar_close_img {
    width: 0px;
}
.FilterMenuContainer > .ContextMenu {
    right: auto !important;
}
div .ModernConversationHistoryItem {
    width: 480px;
}
div .ModernConversationHistoryControl {
    width: 550px;
}
div .ModernConversationControl_Container {
    width: 550px;
}
div .ModernConversationControlBottom {
    width: 550px;
}

.ModernConversationControl_Container {
width: 550px !important;
}

textarea .ModernConversationInputControl_TextBox {
    width: 550px !important;
}
.ModernConversationInputControl_DefaultText {
    width: 550px !important;
}
div .ModernConversationTypingControl {
    width: 550px !important;
}
div .RecentConversationsControl_MessageText {
    width: 80%;
}
div .RecentConversationsControl_ContactDisplayName {
    width: 80%;
}